[2018-09-05 10:29] anna-deasey opened #1 "semin[r] | coding_club - Getting started"
Over the next couple of weeks Coding Clubbers could go through a tutorial about how to get started with GitHub and how the study group works? Below is a link to the Aberdeen Study Group website where they have done this:

Aberdeen Study Group - How to make a study group - https://aberdeenstudygroup.github.io/studyGroup/lessons/SG-T11-MakeTutorial/MakeTutorial/

If @bradduthie is ok with preparing

[2018-09-05 10:36] bradduthie commented on #1
Sounds like a good idea @anna-deasey -- I can prepare an introduction for 19 SEP to introduce everyone to GitHub (and to a lesser extent, git), then we can take it from there. Happy to see so many participants already joining the group!

[2018-09-15 15:17] bradduthie opened #5 "Introduction to GitHub"
**Focus of the event**

This event will focus on introducing everyone to [GitHub](http://www.github.com), a web-based hosting service for collaborative coding. I will introduce the key features of GitHub, and how GitHub can be especially useful for scientific projects, including collaborative coding and manuscript writing, and how it can be used to improve individual workflow. The primary goals of

[2018-09-15 19:33] bradduthie opened #6 "Event Suggestions"
**How to suggest, upvote, and volunteer to lead, events**

This issue is for event suggestions. Feel free to add suggestions as comments to this issue below. If you like one of the suggestions, add a thumbs up to it, found by clicking the + :-) in the upper right . You can also directly edit the individual suggestions using the elipses (...) and clicking 'edit' if you want to volunteer to lead an

[2018-09-15 19:33] bradduthie commented on #6
**How to write a manuscript in Rmarkdown with GitHub (and do it faster than in Word)**

[**EVENT DONE ON 31 OCT 2018 (SEE REPOSITORY)](https://github.com/StirlingCodingClub/Manuscripts_in_Rmarkdown)

[2018-09-15 19:34] bradduthie commented on #6
**An overview of how version control works, and how to use git in the command line**

**[[EVENT DONE ON 3 0CT 2018 (see repository)](https://github.com/StirlingCodingClub/version_control)]**

Given a comment from @mattnuttall00 on Issue #7 I'm actually tempted to do this and also present [GitKraken](https://www.gitkraken.com/) as a really useful tool and solution to getting repositories on GitHub

[2018-09-15 19:35] bradduthie commented on #6
**An introduction to coding in R using Rstudio**

Anna: this hasn't been very popular with upvotes, but I think it's a good idea for the next event, especially for new users
* this could / should include deciding on and setting up the SCC and semin[r] filing systems, naming conventions, workflow, tidy data ethos, etc.

[2018-09-15 19:36] bradduthie commented on #6
**An introduction to building interactive documents in R with [shiny](https://shiny.rstudio.com/)**

[2018-09-15 19:36] bradduthie commented on #6
**An introduction to using loops in R**

**[EVENT DONE ON 23 JAN 2019 ([SEE REPOSITORY](https://github.com/StirlingCodingClub/using_loops))]**

[2018-09-15 19:36] bradduthie commented on #6
**How to build an individual-based model in R**

[2018-09-15 19:36] bradduthie commented on #6
**How to build an R package**

[2018-09-17 10:00] mattnuttall00 commented on #6
**Hacky hour events**

Schedule some "Hacky hour" events as mentioned in the Mozilla introduction.  Informal meetings (preferably in a pub) where group members can meet and chat/discuss.  Good places for new group members to meet each other

[2018-09-17 10:05] mattnuttall00 commented on #6
**Temporal autocorrelation in data/time series**

Dealing with temporal autocorrelation in data/time series.  I am NOT an expert in this, and have only recently started exploring methods.  I'd be happy to facilitate a discussion session, rather than lead one.  The idea being that hopefully people with more experience than me would show up :)

*Brad*: I think that @jeremycusack and Emma might have

[2018-09-18 13:53] #1 closed, assigned to bradduthie, EcologyTom, nbunne, MattGuy57, mattnuttall00, anna-deasey

[2018-09-19 08:31] rosemckeon commented on #6
**rApache - an alternative to Shiny**

For finer control over HTML and JS, rApache server setup gives you the ability to integrate R code directly within HTML markup. If you have ever wanted to display your output in a way that there's no plotting package for, this might be for you - you can build very custom web apps with rApache.

There are no new R functions to learn, but it does require famili

[2018-09-19 11:43] bradduthie opened #7 "Initialise a GitHub respository in Rstudio"
A good question raised by @mattnuttall00 is how to initialise a new GitHub repository for an existing folder on your local computer. @jejoenje know's how to do this, can you help?

[2018-09-19 11:44] bradduthie commented on #7
An example of inserted code.

[code]

Check.

[2018-09-19 12:17] jejoenje commented on #7
I lied! This is not quite as straightforward as I thought it was. Adding _local_ version control - 'git' - to an existing RStudio project folder is quite easy, but linking that to a GitHub repository isn't built in I don't think... I will construct some examples.

[2018-09-19 12:27] jejoenje commented on #7
Ha, well, no need to reinvent the wheel. If you've set up git to work in RStudio as, [per here](https://support.rstudio.com/hc/en-us/articles/200532077-Version-Control-with-Git-and-SVN), and you have an existing project you want to link to a new GitHub repository, you can follow the steps [here](https://jennybc.github.io/2014-05-12-ubc/ubc-r/session2.4_github.html), under "Push an existing RStudio

[2018-09-19 12:30] jejoenje commented on #7
If you want to start and entirely new RStudio project, and link this to a GitHub repository, it's even easier.
(1) Start a new repository on GitHub; (2) Copy the link to the GitHub repository; (3) In Rstudio, create a new project, choose 'Version Control', 'Git', paste the repository link, and 'create project'. You should now have a new project with Git version control tracked in the new repositor

[2018-09-19 12:31] mattnuttall00 commented on #7
Thanks @jejoenje !  So does that mean that you do all of your editing in RStudio, and the Github repo is essentially just a storage space?

[2018-09-19 12:38] jejoenje commented on #6
**What editors/GUI/IDE to use for different kinds of project**

I am interested to hear what people use as -broadly- editors. Obviously RStudio, but what else? Vi? Emacs? Atom? CodeLite? What works well for you for different purposes (e.g. writing manuscripts, R/C coding?).

[2018-09-19 12:40] jejoenje commented on #7
@mattnuttall00 Yes, in a way, although you can still edit docs on GitHub (in browser) as well, like @bradduthie was talking about earlier. You would need to "pull" changes to your local repository to see changes "online" though.

[2018-09-19 13:02] rosemckeon commented on #7
@mattnuttall00 as well as being basically a backup storage space, having a remote repository setup, instead of just tracking changes locally, enables you to collaborate too. You need a remote repo in order to merge changes made by different team members into one cohesive set of files.

It's also really handy for visualising the changes you've made. You can easily look at the repository on github a

[2018-09-19 13:08] mattnuttall00 commented on #7
Many thanks everyone!  I'll have a crack at getting it all set up

[2018-09-19 13:15] rosemckeon commented on #6
**Using RStudio Server edition**

You can use RStudio from any browser with RStudio Server edition - great for working on R projects from a tablet / chromebook / any computer away from home. I've recently set this up and it's been very handy. A bit fiddly! but fun.

[2018-09-19 13:35] rosemckeon commented on #6
**Getting started in C/C++**

I've never done any C. Would anybody else find this useful?

*Brad*: I've got some experience with this, and with [linking C to R](https://github.com/ConFooBio/gmse/blob/master/src/resource.c#L313) (though not C++). It's a tricky language to get the hang of, but the benefit of knowing it is that a lot of tasks are orders of magnitude (not an exaggeration) faster in C/

[2018-09-19 14:36] jmcvw commented on #6
__Spatial data__

Using packages `sf`/`sp` and `raster`  to create maps.

[2018-09-19 15:02] bradduthie commented on #7
@mattnuttall00 @jejoenje @rozeykex If anyone would benefit from a quick guide to pushing and pulling from the command line, I'd be happy to write some quick steps below -- unfortunately, I don't think that this would apply to Windows users (only Mac and Linux).

**Another GUI-based way of visualising commit histories that links fairly seamlessly with GitHub** is [GitKraken](https://www.gitkraken.c

[2018-09-19 16:07] rosemckeon commented on #7
@bradduthie GitKraken sounds useful! For Windows users, when they install Git, they will also get git-bash, so they'll have a unix style terminal that will run all the same base commands.

[2018-09-20 09:55] jejoenje opened #8 "GitKraken set up?"
So I thought I might as well post a question on here to see if this works.
Playing around with [GitKraken](https://www.gitkraken.com/) as per @bradduthie suggestion.
Installed it (Ubuntu Linux) succesfully and seemed to have automatically authorised itself to my GitHub account, but I'm having trouble adding any of my existing repo's to it.
GitKraken appears "empty" to start with but when I go to "

[2018-09-20 10:25] bradduthie commented on #8
@jejoenje I'll play around with this tonight. I have [GitKraken](https://www.gitkraken.com/) installed on my office computer but not my laptop at home, so this should be a good way to troubleshoot a bit.

[2018-09-20 10:28] bradduthie commented on #7
@rozeykex Awesome! Maybe a session on the logic of git, the basic bash commands (init, add, commit, push, pull), but then how something like GitKraken or Rstudio can just do all of it for you in with point and click tools would be useful.

[2018-09-20 16:14] mattnuttall00 commented on #7
Hi all, quick further question regarding all of the above.  Because I work from home a lot, I have all of my work on Box, and use Box Sync on my university computer and my personal laptop so that I can be working on either machine and it all syncs between machines.  So if I have an RStudio project in my Box files, with git version control, and linked to a GitHub repo, presumably I will need Git in

[2018-09-20 16:24] jejoenje commented on #7
Yes, you do need it installed on both machines and you would push changes you make on either machine to the remote repo. I actually have a very similar set up but using Resilio Sync (was BitTorrent Sync) between my work machine, my home server and my laptop.
Only thing you have to be careful of is that the Sync definitely works when you switch between machines and start pushing/pulling to the remo

[2018-09-20 16:28] mattnuttall00 commented on #7
Great thanks @jejoenje .  Yes sometimes it takes a wee while for either machine to catch up with the syncing if I've been moving between them quickly.  So that's a very good bit of advice - thanks

[2018-09-20 21:44] bradduthie commented on #8
@jejoenje Just installed GitKraken on my laptop and gave this a try. It didn't seem to automatically recognise my GitHub account (I had to hit the button that said authorise, but since I was logged in already I didn't have to enter a password), but after I logged in through GitHub, then opened a folder that I knew had a repository, it found everything after I opened a repository ("(folder icon)" >

[2018-09-21 08:32] jejoenje commented on #8
This is interesting, thanks for that @bradduthie. I've just installed on my (Mac) laptop and here it works fine. I will need to do some checking on the work machine when I'm back in the office next...

[2018-09-21 11:43] mattnuttall00 commented on #7
Sorry me again....
I am running into issues trying to link a RStudio project to a Github repo.  I have followed the instructions from various tutorials, but I think the fact that I am on a University machine may be causing an issue.  In my RStudio project, I have Git version control enabled (and have managed to commit initial files to the local repo).
I have created an SSH key in RStudio and added

[2018-09-21 11:46] jmcvw commented on #7
@jejoenje, @mattnuttall00
Maybe a discussion on Git workflows could be interesting.

E.g.
**How do people work on multiple machines?**
I used to save my code on box too, but not since I started using Git

**How do people mange their data across multiple machines?**
This is something I seem to wrangle with constantly. Currently I just source scripts on each machine that create the data when need. T

[2018-09-21 11:50] mattnuttall00 commented on #7
@jmcvw I think that's a great idea.  I'd love to hear about how different people manage their workflows and data management between machines etc.

[2018-09-21 11:59] bradduthie commented on #7
@jmcvw The easiest (though somewhat expensive -- ca 10-12 GBP per month) way that this might be done is through a paid [a Dropbox account](https://www.dropbox.com/business/plans-comparison). Since this comes with over a terabyte of storage (apparently 3 TB now?), it's more than most of us could ever need, so projects could simply be saved on Dropbox and synced automatically. This would remove the

[2018-09-21 12:15] mattnuttall00 commented on #7
@bradduthie you mean in the command line of RStudio, or the Github repository?  I'm not sure how to access a command line in a Github repo...

If I run that command in the RStudio shell I get:

origin  git@github.com:mattnuttall00/PhD_Objective1.git (fetch)
origin  git@github.com:mattnuttall00/PhD_Objective1.git (push)

That appears to be the correct address

[2018-09-21 12:21] bradduthie commented on #7
@mattnuttall00 I'll look at how this works in Rstudio. On the command line, this is what gets returned for me when I view the remote repository:

[code]

If you can get it in that format instead, maybe it will ask you for your username and password?

[2018-09-21 17:27] rosemckeon commented on #7
I don't really see the point in syncing git repos with cloud tools like dropbox/drive/box or whatever. It's like buttering your bread twice. I use those for general files and photos, but anything code/data related I just sync with git. Push to a remote, clone and pull on any computer you need it on. Push back. It's less automatic but once a habit has formed it's second nature and there's no risk o

[2018-09-21 17:35] bradduthie commented on #7
@rozeykex Yeah, I agree. I think you're syncing things the best way possible for git repositories (I'm just too lazy to separate git repositories from other folders, so everything syncs automatically and I just try to make a habit of waiting patiently when necessary).

[2018-09-21 21:49] jejoenje commented on #7
@jmcvw

Big fat yes - very good idea, particularly given @rozeykex and @bradduthie 's views on this in the above.

Suggest it [here](https://github.com/StirlingCodingClub/studyGroup/issues/6)?

[2018-09-21 21:55] jejoenje commented on #7
@mattnuttall00

I'm afraid I'm not sure, @mattnuttall00 ... I think it's unlikely its because you're on a uni machine, as it's worked for me fine, presumably with the same constraints... May have to see your setup to help...

Could you try using --verbose to the git push command to get a bit more info?
I'll be setting up RStudio/Git/Github in a new Linux install shortly, so I'll let you know how t

[2018-09-21 22:02] jejoenje commented on #7
@rozeykex @bradduthie

Well, I do rather like extra butter with everything... :)
Anyway, I see your point - in part. I think my personal view is just that while Git/Github are pretty specific tools for version control / collaborative work, proper sync/backup solutions are needed on top of that... and I prefer to backup/sync EVERYthing, including folders that I also use version control for...

[2018-09-22 14:39] anna-deasey opened #9 "'Other' Suggestions"
**This issue is for 'other' suggestions**

Feel free to add suggestions as comments to this issue below. If you like one of the suggestions, add a thumbs up to it, found by clicking the + :-) in the upper right . You can also directly edit the individual suggestions using the elipses (...) and clicking 'edit' if you want to volunteer to lead an event, or comment on one of the suggested events (e.g

[2018-09-22 14:44] anna-deasey commented on #9
Does anyone have any real-life data-sets to donate for use in tutorials for the coding club? or have any suggestions of data to use?

*Brad*: I'm happy to donate [my fig wasp data set](https://github.com/bradduthie/Duthie_et_al_2015), which consists of species abundances and traits (egg loads, body measurements). Anyone is of course free to fork the repository and use it, but it's a fairly straigh

[2018-09-22 14:56] anna-deasey commented on #9
Anyone have any ideas how to monitor and evaluate the success of coding club? ...... in terms of participation, increased statistical knowledge and abilities, increased collaboration....for example?

GitHub insights? google analytics? questionnaires?

Rose: I know a lot about google analytics.

[2018-09-22 15:03] anna-deasey commented on #9
Is anybody interested in being part of an SCC working group on data visualisation and plotting in R?
we could use it to share ideas, ask for advice, try new things.....all relating to data visualisation

_Adam:_ I'd be interested in a working group on data visualisation. I'm always looking for new ways to present my data.

[2018-09-22 15:07] anna-deasey commented on #9
Is anyone interested in 3D printing? I don't know anything about this, but I think it would be cool to be involved with the Uni Stirling Maker Space people and equipment

Rose: Definitely! I've sent an enquiry about this. I think it would be excellent for scanning specimens, scaling them up and printing larger models.

[2018-09-22 15:34] anna-deasey commented on #9
Is anybody interested in presenting research posters via an interactive screen? for example, this was an option offered by the British Ecological Society for this years conference meeting.
I've never used one, but I imagine it could be a really cool way of presenting research.
Maybe we can persuade the dept. to buy or rent an interactive screen?

Rose: does this mean the poster becomes more like a

[2018-09-22 15:40] anna-deasey commented on #9
Is anybody any good at / interested in designing posters?
We could design a poster to promote the Coding Club and semin[r] around the dept/uni.
If we can do this in a reproducible way, maybe in rmarkdown slides, all the better for future use

Rose: I've done loads of graphic design. Happy to help :)

Matt: Great idea, but I'm afraid design is NOT one of my strengths...

[2018-09-22 17:23] rosemckeon commented on #7
@jejoenje butter is pretty darn good, I'll give you that!

@mattnuttall00 I've used git on the uni machines with RStudio, so it definitely should work. That key looks way too short. Did you copy the public rsa key from ~/.ssh/ ?

[2018-09-23 12:18] jejoenje commented on #7
@mattnuttall00
I've just had another look at this while moving my entire laptop (MacBook Pro) to run Ubuntu as the main operating system, so I'm needing to reinstall everyting including Git.
Because I'm starting afresh, I decided to make sure Git and SSH are working by themselves first (i.e. ignore Rstudio). I followed this:
[Checking for existing SSH keys](https://help.github.com/articles/checkin

[2018-09-23 12:34] jejoenje commented on #7
Well, this is interesting.
After I changed the repo to use SSH instead of HTTPS (as per here), Rstudio now throws an error when trying to "push" to the remote:

Please make sure you have the correct access rights
and the repository exists.
However, when manually pushing in a terminal, all works fine:
`git push origin master`

... seems that RStudio isn't using/recognising the SSH keys properly.
No

[2018-09-23 13:41] jmcvw commented on #7
@mattnuttall00 Just a thought, but I don't think `mnn1@STRF46D042C37A2` is trying to be an SSH key. I think it might be your office computer name.

[2018-09-23 13:53] jmcvw commented on #6
__Workflows__

In https://github.com/StirlingCodingClub/studyGroup/issues/7#issuecomment-423504448 I asked a couple of questions about how people used git. There were a couple of different responses, and I for one, can think of a few other questions, so I'm adding it here as a possible topic.

[2018-09-23 14:05] anna-deasey commented on #6
How about [this](url) a basis for a semin[r] on workflows? It's one of four [guides to better science](https://www.britishecologicalsociety.org/publications/guides-to/) from BES @jmcvw @bradduthie

[2018-09-23 14:11] rosemckeon commented on #7
@jejoenje If you check in `RStudio > Tools > Global options > Git/SVN` there is a settings panel which lets you define the path to your public key and view the key which RStudio is using.

[2018-09-23 14:18] rosemckeon commented on #9
Would it be helpful to put a space on here where people can share useful resources like tutorials/articles/documentation?

[2018-09-23 14:23] rosemckeon opened #10 "Calendar permissions."
Who has control of the stirlingcodingclub@gmail.com email account? The calendar on the website won't show any events due to permissions.

[2018-09-23 14:57] bradduthie commented on #10
@rozeykex That'd be me. I'll send you the password in an email -- do you know how to fix this issue?

[2018-09-23 15:02] bradduthie commented on #9
@rozeykex Maybe these could be new/separate repositories uploaded onto StirlingCodingClub? E.g., if anyone wants to add to the [intro_to_GitHub](https://github.com/StirlingCodingClub/intro_to_GitHub) repository, they can just push new files to it? I'm not sure if this would send me a pull request, or if it's open to all 'owners' of StirlingCodingClub (i.e., everyone) to push to?

[2018-09-23 15:55] rosemckeon commented on #10
@bradduthie I think so, I've shared some public calendars before. I'll give it a shot :)

[2018-09-23 16:02] rosemckeon commented on #9
@bradduthie Aye that could work. I guess the repo could just be a selection of markdown files we can all add links to? We can test out write permissions on the repos and see if it would work ok.

[2018-09-23 16:09] rosemckeon commented on #9
@bradduthie I've found a setting for the default repository permissions for the group. At the moment everybody has read permission for any repository we add to the group. Shall I update it so everyone can always write?

[2018-09-23 16:12] rosemckeon commented on #9
@bradduthie another way to do it would be to set up teams within the study group. People can sign up to teams they want to be a part of and different teams could manage different repositories.

[2018-09-23 16:17] rosemckeon commented on #10
@bradduthie sorted.

[2018-09-23 16:17] #10 closed, assigned to nobody

[2018-09-23 18:42] jejoenje commented on #7
Thanks @rozeykex. Yep, that appears to be set correctly and pointing to the right public key, that's my confusion. Just double checked and error as above.
The bit that puzzles me in particular is the first line -

I guess I'm just not understanding what RStudio is trying to do here... I certainly have the right access rigths and the (remote) repo exists, because I can do this manually (in terminal

[2018-09-23 19:16] jejoenje commented on #7
I should add that I created the key I'm trying to use manually, i.e. not using RStudio. I'm wondering whether that's confused matters... I'm logging off for the day, trying again tomorrow...

[2018-09-23 20:27] bradduthie commented on #9
@rozeykex Allowing everyone to write seems fine -- with so many group members, any accidental loss to a repository should be recoverable through someone's local machine.

[2018-09-24 09:05] adamaki commented on #9
I looked into 3D printing a few months ago and emailed the Maker Space but so far I haven't had a response. I'm guessing as it's run by students that they've been away for the summer! I'd be interested if anyone has any more information beyond what's on the website.

[2018-09-24 09:06] adamaki commented on #9
I'd be interested in a working group on data visualisation. I'm always looking for new ways to present my data.

[2018-09-24 09:59] anna-deasey commented on #9
@rozeykex @adamaki - I've sent an email too, hopefully they'll get back to one of us! i did meet with a lady from the library over the summer and she showed me around the equipment, and said the staff were still being trained how to use it all.

[2018-09-24 13:42] jejoenje commented on #7
Ok, it's definitely an issue with Rstudio and the SSH keys specifically. I just did some work on one of my other repo's, which is still set to use HTTPS authentication. This pushes fine through the RStudio interface.

I'm wondering whether I should/could get RStudio to use a separate SSH key and add that one to GitHub too, but that seems counterintuitive and potentially confusing. Anyway, if I cli

[2018-09-24 14:07] mattnuttall00 commented on #7
I'm afraid this is all beyond my understanding now, and I am thoroughly confused :)  If I can set the starting bribe at 1 x pint, could I ask for someone to come and sit with me for 10 mins or so to go through this all and explain it to me?  No rush, any day/time that is convenient

[2018-09-24 14:14] jejoenje commented on #7
@mattnuttall00 Can I suggest that in the mean time you just use HTTPS authentication?
To do this, in a terminal window in RStudio type:

`git remote set-url origin https://github.com/mattnuttall00/PhD_Objective1.git`

This should set the repo to use HTTPS authentication. If you now make a change, save, commit, and push using the Rstudio buttons, it should just ask for your username and password, a

[2018-09-24 14:16] jejoenje commented on #7
Out of interest @mattnuttall00, when you created the SSH key in RStudio, did you set a passphrase for the key?

[2018-09-24 14:30] mattnuttall00 commented on #7
thanks @jejoenje , that seemed to work - I appear to be able to push up from RStudio to Github, and just have to enter my credentials.
From what I can remember, no I didn't set a passphrase when creating a key in rstudio

[2018-09-24 17:05] anna-deasey commented on #7
@mattnuttall00 so is this working for you now? i just set-up by caching HTTPS credentials and didn't bother with SSH key. Does this matter? should i be using one over the other? ....so far ive only tried very basic things, but seems to be working ok

[2018-09-25 10:11] mattnuttall00 commented on #7
@anna-deasey yes it seems to be working now between one Rstudio project and one Github repo.  I briefly tried to set it up between a second project and a second repo but got some error messages, but I was rushing and haven't had a chance to fiddle around with it yet.  Regarding your questions about whether it matters that we're not using a SSH key....I haven't a clue :)

[2018-09-25 13:48] jejoenje commented on #7
@mattnuttall00 @anna-deasey You can use either authentication method. Horses for courses. SSH just makes life a bit easier in that you won't have to type in a username/password quite as much. It basically works by generating a pair of "keys", which provides the secured access. [Have a look at this if you feel like some geeky reading](https://medium.com/@alxsanborn/https-ssl-and-ssh-a-conceptual-un

[2018-09-26 12:12] mattnuttall00 commented on #9
I'm wondering where the best place for people to post coding/stats questions is.  Should people just create a new issue, or will that mean that we end up with hundreds of issues which may be difficult to manage?  Also perhaps we should have a 'guide to asking good questions' such as the one [here](https://stackoverflow.com/help/how-to-ask)

[2018-09-27 08:40] rosemckeon commented on #9
I sent an email too, as directed by the website, but it's been a week or so now and still no answer. I think I'll go ask someone in person next time I'm in the library. I know Kevin Petrie has used it to make some equipment for our lab practicals very recently, so it must be up and running.

[2018-09-27 08:52] rosemckeon commented on #9
@mattnuttall00 I think the stackoverflow way to ask questions is great practice. I guess the issues board would work OK for a small volume of questions. We could try it - unless anyone has a different suggestion -and see if it gets out of hand? I think a new issue per question is the best way to keep threads simple.

[2018-09-27 08:54] rosemckeon commented on #9
@bradduthie and everyone, I've updated that setting now so we can all write to all SCC repositories.

[2018-09-27 09:07] rosemckeon commented on #6
**Getting to grips with SSH keys and other authentication methods**

From all the talk on [this issue](https://github.com/StirlingCodingClub/studyGroup/issues/7) it seems like this would be really useful as a practical help session. Seems like an easy place to loose people at the first hurdle.

[2018-09-28 15:00] anna-deasey commented on #9
@rozeykex @adamaki - I emailed again and got this reply:
"Thanks for registering your interest in our maker space volunteer program. We will be running a training session next Wednesday 3rd October at 14:00 in the maker space. We will talk about the concept of the space, go through the equipment on offer and talk a bit about the role of the volunteer. We would be very happy if you could attend.
Ca

[2018-09-28 15:30] mattnuttall00 opened #11 "Question: how to use a loop to compare and extract data from dataframe"
Hi all,
I am going to attempt to post the first coding question!  Apologies in advance if I don't quite nail the "how to post a good question", but please feel free to use this as an opportunity to offer suggestions for future users about how to post a good question.  i.e. you can tell me what I could have done to make the question better - you won't hurt my feelings :)

I have a dataframe with ~1

[2018-09-29 16:13] bradduthie commented on #11
Hi @mattnuttall00,

One nice feature of `unique` is that it can be applied across multiple dimensions of a data frame. I have added the shortened example you gave into a CSV file, and read it into R below.

[code]

So I'm starting off with the below.

[code]

So, if you want all of the unique columns of `Sample_Name`, `Marker`, and `Allele_1` -- then all unique columns of `Sample_Name`, `Marker`,

[2018-10-01 14:00] mattnuttall00 commented on #11
Hi @bradduthie , thanks for your comprehensive response!  It was really useful, and good to know about ```unique```, and what it can do.

So I think I may not have explained the final step very well.  Other people I've spoken to also didn't get what I meant either so totally my fault.  But the final step I need to do is: rather than pull out all unique values, once I have got R to look at each 'Ma

[2018-10-01 14:10] bradduthie commented on #11
@mattnuttall00 Ah! Now I see what you mean. I think I have a way that should work -- basically, use the `unique` as I did, but then loop through each row of that unique output (e.g., my results for `allele1` above), then (using another loop, perhaps -- could be a quicker way) count the number of rows for which the unique values are identical -- if at the end it's >2, then retain these rows.

Sorry

[2018-10-01 14:56] anna-deasey commented on #11
How 'bout this! @mattnuttall00

library(tidyverse)

matt <- read_csv("matt.csv") %>% as_tibble()   # reading in your data - ive changed the names

matt <- matt %>% select(sn, m, a1, a2)     # select relevant cols - again, ive changed names

matt %>% group_by(sn, m, a1) %>% summarise(count = n()) %>% filter(count >= 3)    # this returns a df with 1 row for each sn/m/a1 that has 3 matching values

[

[2018-10-01 14:58] jmcvw commented on #11
Hey Matt,

Here is a different take - no `for` loop necessary

The only thing I'm not sure about is why the third line of your desired result chose the row where Allete_2 was `NA` rather than 148. If the NA is not important, try the first example, otherwise try the other one.

[code]

If the `NA` is prefered, replace the filter line above with the code below. This example counts unique, non-NA's,

[2018-10-01 15:26] mattnuttall00 commented on #11
@bradduthie @anna-deasey @jmcvw
Amazing - thanks so much to you all for a range of options!  I will have a crack at all of them and see which is most appropriate.  All approaches much appreciated!

@jmcvw the reason I would want the NA to be selected rather than 148 is because there are only two values of 148, therefore that allele doesn't fit the rule that to be selected there must be 3 matching

[2018-10-02 14:53] adamaki commented on #7
Yeeahh I got my first repository uploaded onto GitHub from RStudio! I followed all the instructions in this thread and got it working eventually but it certainly wasn't simple!

One question for you GitHub veterans - how do I manage my datasets between different work stations, e.g. if I want to work on the same project at work and at home? If I have my datasets on my home machine, the folder path

[2018-10-02 15:23] bradduthie commented on #7
@adamaki I think that this is possible with GitKraken (rather, it does this seamlessly, I suspect), which I'll chat about tomorrow -- though I confess I'm not entirely sure. I think in the command line you should just be able to go to your local repository path and do the below.

[code]

But I'm not sure what this translates for in Rstudio. By 'path in the code to load them', I assume you mean pus

[2018-10-02 19:02] jmcvw commented on #7
@adamaki I'm wondering if you are thinking about the same things I was getting at [here](https://github.com/StirlingCodingClub/studyGroup/issues/6#issuecomment-423818174) and [here](https://github.com/StirlingCodingClub/studyGroup/issues/7#issuecomment-423504448). I have gone through a few different systems, with varying satisfaction - hence my interest in hearing what others do.

My current appro

[2018-10-03 09:23] adamaki commented on #7
@bradduthie thanks for the advice. I'm probably not using the right terminology, but I meant if I have local versions of the same dataset on each workstation, how do I switch between datasets when working on different machines as the folder path will be different?

I should've read the thread properly first as I just noticed it's already been raised as an issue. Thinking about it, I guess a simple

[2018-10-03 09:31] bradduthie commented on #7
@adamaki Ah! Sorry, I think I see what you mean now. I was assuming that the datasets were located in the same path *within* the repository (i.e., `repository_folder/data/datafile_1.csv`, etc.), but that repositories were located in different locations on different computers (which shouldn't cause a problem). Instead, you're saying that the data files themselves are outside the repository, so the

[2018-10-03 09:35] jmcvw commented on #7
@adamaki What I used to do then is set the appropriate path using this line at the top of my scripts:
`dsn <- if (Sys.info()['user'] == 'USERNAME') 'D:/Office/Data/Dir' else 'C:/Home/Data/Dir'`

you can then specify particular data file via
`dat <- file.path(dsn, 'DATA.csv')`

[2018-10-03 09:55] adamaki commented on #7
@bradduthie yes exactly! As I'm new to GitHub, I'm not sure what the convention is. Should I be keeping my datasets in the repository with my scripts? I'm not sure I want to share my datasets publicly tbh!

@jmcvw that's a neat way to get round the problem! I guess using the `ifelse` function would work here nicely.

[2018-10-03 10:08] bradduthie commented on #7
@adamaki It might be useful to keep the data sets with the scripts, but one way of avoiding having it put up on GitHub publicly is to use a .gitignore file in your git repository (see [this .gitignore file](https://github.com/ConFooBio/gmse/blob/master/.gitignore) as an example in the [GMSE repository](https://github.com/ConFooBio/gmse). Git should just ignore any files listed in .gitignore that y

[2018-10-03 14:22] adamaki commented on #7
So I thought I was doing well as I set up version control in RStudio and committed my scripts to GitHub, but today I made some changes and committed them to GitHub but nothing has appeared on GitHub. In RStudio, the history shows the changes have committed.

Any suggestions?

[2018-10-03 15:53] jmcvw commented on #7
@adamaki Could you have commited, but not pushed? In RStudio you can push by clicking the green up-arrow shown below
![git_tab_controls](https://user-images.githubusercontent.com/43386915/46422380-28b15980-c72c-11e8-86f0-77f07aefa215.PNG)
Committing ensures the changes are tracked on your local machine - ie you can use git for version control without ever joining GitHub. To use use GitHub, you hav

[2018-10-03 16:00] adamaki commented on #7
@jmcvw yes that's it, thanks! I thought that committing was the process of uploading to GitHub. Still learning...

[2018-10-05 14:09] SamPaplauskas opened #12 "WYSIWYG-markdown hybrid"
Not technically git related but I think we will be coming across Rmarkdown in coding club soon...

So I have been wondering:
1. Has anybody come across a WYSIWYG-markdown hybrid?
2. Would this even be practical?

In anticipation of a response to 2, I imagine that it is probably accessible enough to learn how to write markdown code, AND the different iterations and updates of markdown that people u

[2018-10-05 16:52] bradduthie commented on #12
There is a kind of hybrid [available online](https://dillinger.io/), though this is specifically limited to markdown, not Rmarkdown (though this might not matter much for getting started -- Rmarkdown just adds some nice features to integrate R). It might not be practical to write in the browser like this in the long term (one nice thing about markdown is that it allows you to focus just on the con

[2018-10-12 12:42] SamPaplauskas commented on #12
That is cool - Dillinger gets a thumbs up for me

My initial query was more along the lines of - is there a user interface for markdown?

This is out of curiosity rather than needing a dumbed down version

[2018-10-14 14:26] bradduthie commented on #12
@SamPaplauskas Ah, I see what you mean. I'm actually not sure if there's an especially good user interface for markdown. The [gedit](https://wiki.gnome.org/Apps/Gedit) text editor I use seems to recognise and do a good job of highlighting files saved with a "md" or "mkd" extension, but I'm sure there are better ones with a proper UI. Rstudio is of course good for Rmarkdown, but doesn't seem to hig

[2018-10-14 14:43] SamPaplauskas commented on #12
Yes I agree - the highlighting etc of code is super useful - I just find it interesting to think about what a UI could do for the process

[2018-10-28 19:05] bradduthie opened #13 "Student Developer Pack"
For any students who have not seen this yet, a [GitHub Student Developer Pack](https://www.gitkraken.com/student-resources) is being offered with **a lot** of useful tools for free (e.g., GitHub developer account with unlimited private repositories; GitKraken Pro). See [here](https://www.gitkraken.com/student-resources) to apply for a free student pack.

[2018-11-01 14:24] mattnuttall00 opened #14 "Question: User defined function for multiple plotting"
Hi SCC team,

I have been trying to figure out how to write a function which will streamline the creation of multiple histograms.  The idea of course being to save me time, but I can't quite figure out how to do it and therefore I am in fact wasting time going round in circles.  SCC to the rescue!  Hopefully this will be a useful post for other folk who would like to dapple in UDF's

I have a fair

[2018-11-01 15:24] anna-deasey commented on #14
@mattnuttall00  duuuuuuuuuude you need ggplot2 and facet_wrap or facet_grid

ggplot(data = dat_master, aes(tot_pop)) +
      geom_histogram() +
      facet_wrap(province ~ . )

[2018-11-01 15:57] mattnuttall00 commented on #14
Oh. my. days.

I did try facet_grid right at the start and that didn't do what I needed, but I did not try facet_wrap.

That worked perfectly, just a note though:
I got an error when I did ```facet_wrap(Province ~ .)```, but ```facet_wrap(~Province)``` did exactly what I need.

Thank you Anna!

Now please excuse me while I go and repeatedly bang my head against a wall

[2018-11-01 16:00] anna-deasey commented on #14
boom!! facet_wrap the ass out of that dataset!

[2018-11-02 15:22] jmcvw commented on #6
__Functions__

How / when / why to write in functions in R.

Being able to write your own functions is dead handy.

[[**EVENT DONE ON 28 NOV 2018 (See repository)**](https://github.com/StirlingCodingClub/Funkshuns)]

[2018-11-05 09:26] mattnuttall00 commented on #14
Not sure whether I should be closing this issue or not.  I guess it's worth leaving coding questions open so that other people can easily search for and find them in the future?

[2018-11-05 09:39] bradduthie commented on #14
Probably best to leave open, at least until the number of issues gets to be out of control.

[2018-11-05 12:04] anna-deasey opened #15 "Question: Merge a Spatial object having attributes with a data.frame"
I'm having problems merging a polygon spatial object with a dataframe. I think it might be an easy problem for someone who knows what they're doing :) any help is appreciated.

I have:
'bufpoly' =  'spatialpolygonsdataframe' with 768 elements (polygons of plots with attribute data)
and
'dtm_buf_df' = dataframe of values extracted from a raster layer using raster : : extract(dtm_raster, bufpoly, by

[2018-11-05 12:52] anna-deasey commented on #15
actually, nevermind...........I've just turned 'bufpoly' into a data.frame and done a normal merge, rather than an sp : : merge

It seems to have worked :)

[2018-11-07 11:20] AlexSeeney opened #16 "Question: PERMANOVA w/multiple predictors"
Hi all, having some trouble getting my head around permanova/adonis. Would really appreciate

Had a request from a reviewer - "could the authors run a PERMANOVA to check what factors have an effect overall on community composition and which explains the most variance".

I have a dataset which is a matrix of invertebrate species and abundances. I have samples taken over two seasons, on six rivers a

[2018-11-08 13:37] bradduthie commented on #16
Hi Alex, and thanks for sending this question to the group! I hope you don't mind my edits above to separate out the code. While PERMANOVA analyses really isn't my expertise, the text file that you added helped a lot.

I think I would need a bit more context to completely understand the reviewer's question, but it sounds like what they're asking for might be answered using the sum of squares colum

[2018-11-08 13:44] AlexSeeney commented on #16
Hi Brad,

Thanks for your response - no problem with the edits at all. Following some other advice I have had since posting yesterday, I have simplified the model by removing interactions and just looking at an additive model instead, which obviously reduces the size of the outputs. I will do as you suggest to put together a more succinct output for the reviewer in our response, thank you.

Alex

[2018-11-09 10:12] MattGuy57 commented on #16
Hi Alex,

I don't know if this is useful or not but I have been playing around with the mvAbund package. In that package you can do multiple GLMs, so your response variable is your species by site matrix and your predictors are season, depth etc. The output can then just be read as a normal GLM. If this sounds useful, let me know and I can send you through some stuff.

Cheers,

Matt

[2018-11-26 12:15] mattnuttall00 opened #17 "Question: using gather() in dplyr"
Hi all,

My office pal Paulo is trying to manipulate his data into a "tidy" format, but it struggling with the gather() function.  I've not really used that function much and so am not much help, so we were hoping some of the tidyverse wizzes could lend a quick hand.

His data is temperature time series, and at the moment looks like this:

Years   Jan_min   Jan_max   Feb_min   Feb_max
1960       x

[2018-11-26 15:43] anna-deasey commented on #17
paulo <- read_csv("paulo_data.csv") # reads in data

paulo <- paulo %>% gather(key = month_min_max, # name of new key column
                          value = value,      # name of new value column
                          Jan_min, Jan_max, Feb_min, Feb_max, Mar_min, Mar_max, Apr_min, Apr_max, May_min, May_max, Jun_min, Jun_max, Jul_min, Jul_max, Aug_min, Aug_max, Sep_min, Sep_max, Oct_min, Oct_m

[2018-11-26 16:22] mattnuttall00 commented on #17
Awesome, many thanks Anna!

If anyone else reads this in the future, for some reason the line removing white space from the column names didn't work on my computer (but did on Anna's), whereas the below code I found did work on my computer, but not on Anna's.  Go figure

[code]

[2018-11-26 16:51] adamaki commented on #17
Hi Matt,

I often find that a function works fine on one machine but not on another and it's usually due to conflicting packages using the same function name but with different arguments and the one you want has been masked. Detaching the conflicting package usually works, or specifying the package you want in the code, just as Anna did with `stringr::str_replace_all`, which is why it's a bit odd

[2018-11-30 14:50] bradduthie commented on #6
**Mathematical and computational concept reviews**

Would anyone be interested in one or more semina[r]s focusing on a refresher of mathematical or computational topics of interest, with the goal being to understand a key concept in the mathematical or computational tool box? Examples might include the following:

- *What are eigenvalues and eigenvectors, and how should we think about them?*
- *Wh

[2018-11-30 15:08] adamaki commented on #6
@bradduthie absolutely! As a biological scientist who uses programming and maths a lot but has no advanced mathematical or computer science training (other than self-taught), I know I have some big gaps in my basic knowledge. These and any other similar topics would be a great help!

[2019-02-06 16:43] John-Paterson opened #18 "Applying Functions Across a List"
Hi all,

I've written a function that fits a model to a dataframe and outputs a summary of the model. It works fine when applied to a single dataframe or when applied to a list of dataframes when using either lapply or plyr::llply so long as the function only needs to act on the whole dataframe. However I'm now wanting to apply it to subsets within each dataframe in a list and am having issues wit

[2019-02-07 10:19] jmcvw commented on #18
Hey John,

There are a few things I am unclear on here, but I'll attempt to offer some ideas, until someone with a better idea comes along.

It sounds like you have used the `split` function to split by `species`? As a quick suggestion, do you know you can subset by more than one factor in `split`, `by` etc? Ie you can `split` on both species and year at the same time. Eg `split(data, list(data$sp

[2019-02-07 11:51] John-Paterson commented on #18
Thanks, apologies if my question was unclear, think the confusion probably reflected my own lack of clarity over the problem!

My issue was with the structure of the dataset I was trying to apply the function to rather than the function itself. I had indeed used the `split` function and hadn't thought to go back to that point to further divide the data, however I've tried that now and it works wel

[2019-03-07 16:18] mattnuttall00 opened #19 "Function for multiple models"
I'm making my first tentative steps in writing very simple functions just to help keep my scripts tidy, but have hit a snag.

I am trying to write a function that makes running lots of models a bit neater.  The models I am running are to estimate the detection function for animals from line transect surveys, using the package 'distance' and the function ds(). The structure of the model call is:

`

[2019-03-08 11:08] bradduthie commented on #19
I've downloaded the [Distance](https://cran.r-project.org/package=Distance) package, just to see how everything works. Looks like the output should be fine to do what you want.

One issue is that `distdata` isn't defined as an argument in your function, so the first line in the function will look for this from the global environment and assign it to `name`. How do things work when you change the `

[2019-03-08 14:01] mattnuttall00 commented on #19
Hey Brad,

Yea I assumed it would be able to look in the global environment for `distdata`, and just use it normally, but perhaps not.

I changed it as per your example, but wasn't exactly sure whether when testing it I was then supposed to use distdata as the first argument or the name of the model.  So I tried both.

When I do `detfunc(distdata,"hn",habitat)` I get the error:

` Variable(s): cov

[2019-03-08 14:28] bradduthie commented on #19
Thanks @mattnuttall00 -- you're correct that `distdata` could be found in the global environment, but it's generally a good idea to include everything required by the function as an argument just to make the function self-contained. The argument `name` wasn't doing anything because it was immediately overwritten by the first line of code.

Sorry, I should have specified what I was doing better! By

[2019-03-08 14:52] mattnuttall00 commented on #19
Thanks @bradduthie,

Right I see, the distdata bits make sense.  John also mentioned to me about keeping functions self contained...it just doesn't seem to be sinking in!

In terms of `name`, in order to assign a model name would you suggest then doing this outside the function? e.g.

`mod1 <- detfunc(distdata,"hn",habitat)`

So the `formula` bit is where in `ds()` you are able to include covariat

[2019-03-08 15:24] bradduthie commented on #19
No worries @mattnuttall00! I'm trying to verbalise what I think is the general function-related issue, but I'm not quite sure how to phrase it in a way that makes sense to me. I'm hoping the below will help.

Your line showing `modtest` really helps. What I suspect is happening is that `ds` is looking for the *name* of a column in a formula, but you're reading in the column itself and `ds` is conf

[2019-03-08 15:39] mattnuttall00 commented on #19
Eureka!  That worked. I never even suspected that the culprit was the ~

Many thanks @bradduthie , much appreciated!

[2019-03-08 15:42] bradduthie commented on #19
It seems like it's always the most subtle possible thing that causes the most critical problem :-) -- glad that worked, @mattnuttall00!

[2019-04-01 16:33] John-Paterson opened #20 "Merging Dataframes Using Multiple Columns"
Hi  - I'm trying to pull data from one dataframe and append it to another based on matching values in multiple other columns. Currently I'm trying to achieve this through the merge function. My first dataframe looks like this:

[code]
And my second looks like this:

[code]

I'm trying to pull the cum.degrees value from the second (climate.data1) df and and join it with the first (percentilesdf) df

[2019-04-01 17:14] mattnuttall00 commented on #20
Hey John,
I'm certainly no expert, but to tackle the first desired merge have you tried a simple merge to create a new df like this:

`new_df <- merge(percentilesdf, climate.data1,by="year")`

resulting in a merged dataframe which you can then drop any columns you don't need.  That should pull in all the columns from climate.data1 (including `cum.degrees`) into the new df.

For the second bit, I'm

[2019-04-01 18:31] John-Paterson commented on #20
Thanks Matt,

My issue is primarily that I'm not looking to just join the dataframes together (they're different lengths anyway), I'm wanting to pull a column value from the second one based on whether values from two other columns match those in the original dataframe. Basically analogous to a Vlookup in Excel, if that means anything to anyone!

When I said I wanted to match '5' and 'JDay' I mean

[2019-04-01 19:35] John-Paterson commented on #20
So I've managed to circumvent this problem by creating a column in each dataframe containing a unique reference combining both Year and '5' (in the first dataframe) and 'JDay' (in the second dataframe). I've then merged them based on that.

Still don't really know why the original code didn't work though so if anyone's got any answers it'd be good to know for future reference.

[2019-04-02 09:05] anna-deasey commented on #20
I think left_join would do it -
not sure if this code would exactly work - but something along these lines probably would. I think in recent updates dplyr have added even more join options - could be a one stop shop for all your joining needs :)
- but for your actual question about merge, I've no idea (tidyverse ftw)

left_join(df1, df2, by = Year, c("JDay" = "5"))

[2019-04-02 10:09] John-Paterson commented on #20
Thanks Anna, just had to change the code a wee bit to:

`left_join(df1, df2, by = c("Year", "JDay" = "5"))`

And it worked a treat. With 'Year' outside the brackets it didn't look for both columns to match, it just matched them based on Year. I should have listened to Matt - Tidyverse is always easier!

Thanks all.

[2019-04-03 15:46] mattnuttall00 commented on #20
@jejoenje showed me another quite snazzy method for doing a similar thing to what you wanted.  I know you've solved your issue but this may be of interest/use to people in the future. The code below won't be bang on as I'm not sure how you'd do it when you need to match more than one column, but you'll get the idea

`percentilesdf$cum.degrees <- climate.data1$cum.degrees[match(percentilesdf$year,

[2019-04-09 14:06] mattnuttall00 opened #21 "Referencing code chunks in R Markdown"
Hi all, I have a R Markdown question.

I am trying to write a results report for my project partners, and R Markdown is the obvious choice as the models/results/plots etc are not necessarily the final versions.  The script for my analysis is getting pretty long (and is going to get much longer), and so ideally I don't want to have all of the original code in my .Rmd script.

I found a cool example

[2019-04-09 14:10] MattGuy57 commented on #21
This might be a stupid answer but do you just need to close off your curly brackets:

```{r plot3}```

[2019-04-09 14:17] mattnuttall00 commented on #21
Ha!  Not a stupid answer, but unfortunately that's just a typo, and in my actual code I have been more careful and have a closed bracket :)

[2019-04-09 14:33] jmcvw commented on #21
Quick idea - Doesn't `cowplot` need a `ggplot` object?

[2019-04-09 14:45] mattnuttall00 commented on #21
That's a good point - yes it does.  Sorry, poor example.  But in my actual results script the plots are all ggplot objects, and I get the same result.  In my R script I have a bunch of ggplot histogram objects, named h1, h2, h3 etc, and the code chunk starts with a reference e.g. `## @knitr gpfHistograms`.  Then in the Rmd script I have
[code]

But it doesn't seem to find / run the chunk

[2019-04-09 14:46] mattnuttall00 commented on #21
Blank space above was supposed to contain:

[code]

[2019-04-09 16:29] jmcvw commented on #21
Ok, just had another look. It works for me if I replace the `@knitr` with `----`. See `?read_chunk`.

[2019-04-10 08:53] mattnuttall00 commented on #21
Hmmm, still can't get it to work.  No worries, I think I need to start from the beginning as I've been messing around with the same Rmd script for a while now and I've probably got it all confused.  Thanks for the suggestions guys.  I'll have another crack at it when I get back from holiday :)

[2019-04-10 10:32] SamPaplauskas opened #22 "Question: controlling order of plotting different factors"
### Issue description

My points are plotted sequentially so that different layers exist.

My plotted points belonging to factor B (in the legend) overlap plotted points belonging to factor A (see Fig)

![image](https://user-images.githubusercontent.com/43647082/55871837-7ac3b380-5b83-11e9-8ec4-1580829a5b74.png)

I want to change this so that the factor A is on the top layer.

### What I have trie

[2019-04-10 10:59] adamaki commented on #22
R will always plot in alphabetical or numerical order, so you need to change your groups to factors and then change the factor levels so they plot in the order you want like so:

`mtcars.new$am <- factor(mtcars.new$am, levels = c('B', 'A'))`

Then you can reverse the order of the legend by adding this line to the end of your ggplot:

`guides(fill = guide_legend(reverse = T))`

[2019-04-10 11:07] SamPaplauskas commented on #22
That works spot on

[2019-05-07 15:25] mattnuttall00 opened #23 "GAM - missing categorical variable level in model summary"
*** UPDATE***  Ignore this question.  I have figured it out.  sorry!

Hi all, me again.

I am currently using the `dsm` package to run density surface models.  The package uses GAMs though, and so I hope the question isn't package-specific (as I guess most people won't have used dsm before).

`dsm()` takes distance sampling (line transect) data, and an existing detection function (model for probab

[2019-05-07 16:52] #23 closed, assigned to nobody

[2019-05-29 15:39] SamPaplauskas opened #24 "Randomise pairwise elements of a matrix"
### Title

Randomise pairwise elements of a matrix

### Issue description

I have a matrix of values which are a table of differences.

I want to compare these obs values to a randomly generated null values.

This tests whether my obs values are significant, rather than occur by chance.

I want to keep the identity of the values...and randomise the pairwise comparisons which produced them.

### Wh

[2019-05-29 16:16] bradduthie commented on #24
Hi @SamPaplauskas -- I've recreated the problem with the code below, as you stated above

[code]

I think that the issue with the above is that R names the rows with the `rownames` and `colnames` function, but does not actually sort them by row or column. Maybe try something like the below instead after the line defining `x.perm`.

[code]

Now you will see that some things get sorted into the uppe

[2019-05-31 08:51] SamPaplauskas commented on #24
Thanks so much - I will try this out and let you know if it does the trick...

:)

[2019-05-31 09:32] jmcvw commented on #24
Here's a slightly different take - it just does the same as Brad's, but I think is different enough that it might be interesting. I just wrapped it into a function.

### The function
[code]

### To use it

[code]

[2019-09-11 08:27] bradduthie opened #25 "What should we do in Autum 2019?"
I have created a poll to gauge interest in different coding club topics. Please click the link below to rank your preference for different topics.

http://www.pollandmatch.com/chooser?pollId=5515ac94-73bf-4d39-a6b7-1d35f7de62e5

If there is a topic that you would like to see coding club do, but you don't see it on the list, respond here letting us know!

To sign up for the mailing list that @rosem

[2019-09-11 11:20] jejoenje commented on #25
Here's some ideas for further potential topics -

- Working with external databases from R (ie SQL) (could be particularly useful after a discussion on data management in R)
- Practical use of mixed effects models (although that's very stats-y)
- Using R to work with websites and extracting data (RSelenium)

[2019-09-11 11:22] bradduthie opened #26 "Parametric bootstrapping question"
How could we write a script for parametric bootstrapping in R?

I've tried the following:

[code]

And that did not work. Do you know how to do this @rosemckeon

[2019-09-11 11:29] jejoenje commented on #26
Was parametric bootstrapping already covered in @bradduthie session [Introduction to randomisation, bootstrap, and Mote Carlo methods in R](https://stirlingcodingclub.github.io/randomisation/randomisation_notes.html) from last year?
The slides etc are in the link above... if not, or it needs expanding on, please let us know...?
We could certainly re-run that session?

[2019-09-11 11:38] jejoenje commented on #25
I would also love a "base R vs ggplot" contest.... :-)

[2019-09-11 11:42] bradduthie commented on #26
Yep! I think we covered it @jejoenje in the randomisation topic last year. I would definitely be happy to do another session on it!

[2019-09-11 12:28] rosemckeon commented on #25
A contest sounds like fun @jejoenje! I'd like to second the suggestion for working with SQL databases too.

I would also like to know more about extending ggplot2 - anybody had a go at this?
https://cran.r-project.org/web/packages/ggplot2/vignettes/extending-ggplot2.html

If not I guess I can try and decipher it...

[2019-09-11 12:30] rosemckeon opened #27 "Poster Ideas"
I'm going to whip up a few A4 posters we can scatter around the place. If you have any ideas for a fun poster theme, coding joke, enticing strapline etc, then fire them this way :)

[2019-09-11 12:51] adamaki commented on #25
I would also like a session on SQL in R. In fact, this would be top of my list.

I've done a lot of work with RSelenium for scraping websites (and it is awesome!), and I was planning to volunteer to run a session on it sometime, but never seem to have any spare time...

[2019-09-11 14:11] Kirstensos opened #28 "Adding a column to a dataframe"
Hello Stirling coding club,

I am having difficulties with a data organisation problem and thought I would try out Github to see if anyone can help me out.

I have data in the following format:
[code]
I want to calculate the sum of values for each plot, then use this to calculate the percentage contribution of each spp in each plot. I am trying to make a data.frame something similar to this:
[code

[2019-09-11 14:41] MattGuy57 commented on #28
There might be simpler ways to do it but I would use tidyverse and do something like:

[code]

or if you don't want all those extra tables in your environment you could do it all in one:

[code]

[2019-09-11 15:08] Kirstensos commented on #28
Great! Thanks Matt, that's worked.

[2019-09-11 19:46] bradduthie commented on #25
Both sound good @adamaki -- I definitely think that a session on scraping websites would be useful for people! Let me know if you want to find a good day to do it.

[2019-09-12 07:47] mattnuttall00 opened #29 "Sub-modules in Gitkraken....?"
Hi all,

Quite a simple question (I think).  I use GitKraken for my version control, which also allows me to switch fairly seamlessly between university and home computers.

I currently have one GitHub repo per thesis chapter.  Yesterday I was sent an R project by one of my project partners.  This project forms part of the chapter I am currently working on, and so I copied the project folder into

[2019-09-12 09:45] adamaki commented on #25
@bradduthie ok I'll have a think about it and let you know.

[2019-09-13 08:37] bradduthie commented on #29
Hi @mattnuttall00 -- quick question that I think might make it easier to answer yours: is the R project that one of your project partners sent *itself* a git repo? Or did you just get a folder with a lot of files inside of it?

[2019-09-13 10:11] mattnuttall00 commented on #29
Hi @bradduthie , good question.  I think it is itself a repo, as it has a .git and .gitignore file.  Does having those files make it a repo?

[2019-09-13 10:43] bradduthie commented on #29
Yep @mattnuttall00 -- that makes sense. Okay, so you're working with submodules in GitKraken. There is [a video and post about this](https://support.gitkraken.com/working-with-repositories/submodules/) in the GitKraken support, but it might be more than what you really need. Give it a shot if you want to be able to manage both the subrepository and the outer repository (e.g., have a separate GitHu

[2019-09-13 11:03] bradduthie commented on #29
So I got curious, and it does look like moving one git directory into another (as opposed to creating a new git submodule into an existing one) can create some issues (here's the [inner git repository](https://github.com/StirlingCodingClub/inner_git)). These [can be resolved](https://www.nomachetejuggling.com/2011/09/12/moving-one-git-repo-into-another-as-subdirectory/) fairly easily, but I'm not

[2019-09-13 13:03] mattnuttall00 commented on #29
Hi @bradduthie, thanks a million for all that info!  I'm not exactly sure whether I want or need that folder to remain as a separate submodule, with it's own commit history.  I probably just want it as a regular folder within the existing repo, and so the option of moving the repo to a different place and then copying it back in and deleting the .git files is probably what I want to do.  I'll have

[2019-09-13 13:03] #29 closed, assigned to nobody

[2019-09-17 08:55] jejoenje commented on #28
Hi - sorry late to the party and I realise this has been sorted, but here is another way in "base" R (no extra packages needed).

I like using tapply() for doing this sort of stuff.

First, reconstruct your example:
[code]

Now change column plot into a factor so we can work with it as a grouping variable:
[code]

Now we can use tapply() to calculate the sum and sample size in each plot. The first

[2019-09-17 09:46] jejoenje commented on #27
I've always liked this particular XKCD:
[https://xkcd.com/1319/](https://xkcd.com/1319/)

[2019-09-17 11:08] jejoenje opened #30 "Calculating extent of overlap of multiple polygons (SpatialPolygonsDataFrame)"
Hi all

Could someone help me with some R-based spatial analyses? I figure I must be doing something really simple wrong but I can't seem to work this out easily...

So, what I want to do is to calculate the extent of overlap of one polygon (or set of polygons) with another set of polygons. More specifically, I have species distribution maps and I want to calculate how much of each country a speci

[2019-09-17 11:55] bradduthie commented on #27
It appears that Randall Monroe is [quite relaxed](https://xkcd.com/about/) about using his comics (work is under a Creative Commons License), as long as [XKCD](https://xkcd.com/) is credited.

[2019-09-17 14:20] rosemckeon commented on #27
Hah! Thanks @jejoenje, that's a corker.

[2019-09-17 14:43] rosemckeon opened #31 "Has anybody got any advice for working with lat/long data and converting units to/from metres?"
I have a bunch of data with lat/long values, as well as location accuracy (m). I'm trying to plot `lat ~ long` for each data point, with a larger circle around each point showing the location accuracy. So, in effect creating a basic map. But, I'm getting confused with the scales because lat and long are not metric (1 lat = ~111 Km nr the equator). So, ideally, I think I need to convert my location

[2019-09-18 08:40] bradduthie commented on #31
I just dug out some of the 10+ year old code from the first or second year of my PhD. You might want to check on how accurate the zone is, and on the library PBSmapping.

The `data` argument should be a data matrix or data frame. The `Lat` and `Lon` should be the columns for the latitude and longitude coordinates in `data`, respectively.

[code]

Let me know if it doesn't work (or if it does!).

[2019-09-18 08:41] rosemckeon commented on #31
Thanks @bradduthie! I'll give it a whirl.

[2019-09-18 08:49] Kirstensos commented on #28
Thanks Jeroen, I'll take a look at that.

[2019-09-18 08:53] bradduthie commented on #31
Tried Edinburgh, Belfast, Chicago, and Seoul. It seems to work. You just need to use decimal, and anything West or South should be negative (i.e., lat-lon coordinates of Belfast are Lat: 55.9533, Lon: -3.1883).

[2019-09-18 10:29] rosemckeon commented on #31
Looks like this works great @bradduthie! Not tried plotting yet but the conversion runs nicely.
________________________________
From: Brad Duthie <notifications@github.com>
Sent: 18 September 2019 09:53
To: StirlingCodingClub/studyGroup <studyGroup@noreply.github.com>
Cc: Rose McKeon <crm00032@students.stir.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [StirlingCodingClub/studyGroup] Ha

[2019-09-18 10:30] bradduthie commented on #31
Glad it works @rosemckeon -- looking at it now, you might need to tweak it again if you're doing anything in the Southern Hemisphere. Otherwise, I think it should be fine.

[2019-09-18 10:44] rosemckeon commented on #31
@bradduthie All my coordinates are for Portugal, but I'll bear that in mind for the future!
________________________________
From: Brad Duthie <notifications@github.com>
Sent: 18 September 2019 11:30
To: StirlingCodingClub/studyGroup <studyGroup@noreply.github.com>
Cc: Rose McKeon <crm00032@students.stir.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [StirlingCodingClub/studyGroup] Has

[2019-09-18 10:45] rosemckeon commented on #31
(email reply is weird)

[2019-09-18 10:46] #31 closed, assigned to nobody

[2019-09-24 14:03] SBuckerfield commented on #25
The poll link isn't working for me, maybe it's because I was too slow and it's closed. But I would be keen on pros/cons of different mixed effects model selection procedures

[2019-09-24 14:10] bradduthie commented on #25
That's strange @SBuckerfield -- I've resaved it on my end. Try again maybe?

http://www.pollandmatch.com/chooser?pollId=5515ac94-73bf-4d39-a6b7-1d35f7de62e5

@adamaki -- is there a Wednesday that you would be willing to do a webscraping topic?

[2019-09-24 14:29] adamaki commented on #25
@bradduthie sorry I'm snowed under with fieldwork at the moment. Ask me again in a month or so!

[2019-09-24 14:30] bradduthie commented on #25
Okay @adamaki -- no worries!

[2019-09-25 10:04] bradduthie commented on #25
Hi All, I have tried to use the poll and the discussion here to come up with a working autumn schedule. This is *very* tentative -- anything is fair game to move around or replace. Most of the topics are things we have done in the past, but a while ago and with fairly low attendance. Anyone who wants to claim a slot for something else, **please do**. If anyone wants to lead a SQL session, or sugge

[2019-09-25 10:07] bradduthie commented on #30
I keep meaning to take a look at this more carefully @jejoenje -- will try to help soon here.

[2019-09-26 10:13] ROWLEY-12 opened #32 "I have used randomisation for my data set however I am unsure how to calculate the correct p-value."
@bradduthie
### Issue description

I have collected morphology data from two different plant species (Carpobrotus acinaciformis & C. edulis). I have used randomisation to test whether the measurements between species are different.

I have no prior expectation of which species should be larger/smaller and so wish to complete a two-tailed test (Nulll: Size does not differ between species)

I strugg

[2019-09-26 18:24] bradduthie commented on #32
Hi @ROWLEY-12 -- this looks okay to me overall. You said that you have no prior expectation of which species should be larger or smaller, and correctly intend to apply a two-tailed test. But I think you're missing something from the line assigning `less_or_equal_obs`.

[code]

In the above, `diff` is calculated as the difference of Pink minus Yellow fruit diameters (`mn_samp_p - mn_samp_y` in the

[2019-09-26 18:45] bradduthie commented on #32
Ah, one more thing @ROWLEY-12 -- note that in [the notes](https://stirlingcodingclub.github.io/randomisation/randomisation_notes.html#rand_h), the hypothesis was that the mean of alive minus dead birds (alive - dead) was *not significantly less than zero* (i.e., dead birds aren't bigger than living birds), hence the reason for the code:

[code]

It's looking at the total number of differences for

[2019-09-27 15:06] SBuckerfield opened #33 "Prediction intervals for mixed effects models"
What methods do people use to generate prediction intervals for mixed effects models?
I just used 'predictInterval' from the merTools package to produce 95% prediction intervals and didn't exactly get what I was hoping for.

I have two continuous predictors, one categorical variable, and two random effects that allow random intercepts, in this format:

ME<- lmer (Dependent_Variable ~ Categorical_p

[2019-09-30 14:42] ROWLEY-12 commented on #32
@bradduthie
Thank you!

[2019-09-30 14:42] #32 closed, assigned to bradduthie

[2019-10-02 10:37] jejoenje commented on #33
Hi, there are a few different ways of calculating prediction intervals for GLMMs.
I went through a few in the ["Predicting from GLMMs"](https://stirlingcodingclub.github.io/PredictingGLMMs/PredictingGLMMs_pres.html#1) session last year (repo [here](https://github.com/StirlingCodingClub/PredictingGLMMs)). With multiple mixed effects, it's far from trivial to decide what is best and it very much dep

[2019-10-02 10:38] jejoenje commented on #33
Sorry I've just realised the link above doesn't have what I thought it did - bear with me while I find the right presentation.

[2019-10-02 10:39] jejoenje commented on #33
Here you go this is what I meant: [https://github.com/StirlingCodingClub/PredictingGLMMs/blob/master/PredictingGLMMs_md.pdf](https://github.com/StirlingCodingClub/PredictingGLMMs/blob/master/PredictingGLMMs_md.pdf)

[2019-10-17 12:59] SamPaplauskas opened #34 "Default dims for saving ggplots and recommended workflow ggplot"
### Issue one: Default dims for saving ggplots
Interested in how people save their ggplots for reproducible figures.

There are a variety of methods for saving plots including some which do not require dimensions specifications, such as my go to method which is saving plots directly from RStudio plotspace, and others which allow you to specify dimensions such as using the command line e.g. ggsave(

[2019-10-17 13:45] jejoenje commented on #34
Does writing output to "devices" not work with ggplot()?
I.e. for a base R plot i would just do something like this:
[code]
Anything between the `tiff()` and `dev.off()` statements will get printed to the file specified.
There's loads of options that you can specify in the graphics devices, like figure width, height, resolution, etc. If you don't want a TIFF as output, you can also use `jpg()` or

[2019-10-17 13:56] SamPaplauskas commented on #34
Yes it is as easy as that BUT...I am not in the habit of specifying the
dimensions of my plots as I create them because you are always changing and
updating plot stuff (and I always resize my figures in word many (a
million) times before I think I have a 'final' correct size with associated
dimensions)...therefore -> I was wondering if there is a workaround people
use to avoid this frustrating sce

[2019-10-17 14:19] bradduthie commented on #34
Just a shameless plug for coding club next week -- I'll be showing how to write manuscripts in Rmarkdown instead of Word (which, once you get the hang of it, will make the problem of figure size pretty much go away).

[2019-10-17 14:33] SamPaplauskas commented on #34
I will have to check that out...

but then I lose all of the good things about writing in word haha

Best wishes,
Sam

On Thu, 17 Oct 2019 at 15:19, Brad Duthie <notifications@github.com> wrote:

--
Sam Paplauskas

PhD Research Student

Biological and Environmental Sciences | University of Stirling | Stirling |
FK9 4LA | UK

[2019-10-17 14:49] jejoenje commented on #34
Before I read @bradduthie's reply here I almost typed "rmarkdown?" in reply, but changed my mind as I figured that would be a bit too terse... :)

On a serious note, @SamPaplauskas I am now not sure if I understand your question - on the one hand you are saying you don't want to specify dimensions, but then you are frustrated by the fact that it is not consistent?
If you're after an automated way

[2019-10-17 15:35] bradduthie commented on #34
Ah, but you can still keep all of your favourite parts about Word, if you like! Rmarkdown can produce documents in [PDF](https://github.com/StirlingCodingClub/Manuscripts_in_Rmarkdown/blob/224e0f3673aece576d5c859f5409b6c9b68a5565/ms.pdf), [HTML](https://stirlingcodingclub.github.io/Manuscripts_in_Rmarkdown/ms_history/ms_final.html), or [DOCX](https://github.com/StirlingCodingClub/Manuscripts_in_Rm

[2019-10-17 16:21] mattnuttall00 commented on #34
Hi Sam,

I tend to just use ggsave and work out the dimensions that I want.  Once I have the dimensions that I like, you then use that code to produce nice plots that all have the same dimensions.  Apologies if I have misunderstood your question, but surely by avoiding using the dimensions options you are precluding the production of uniform, reproducible plots?  It can be a faff at the start to m

[2019-10-18 12:07] SamPaplauskas commented on #34
Thanks for the advice all...

For clarity @jejoenje ...was just hoping to get around the the fact that
RStudio plotspace doesnt display my figures with certain specified dims, so
you only see the final plot after exporting - so you can see how this
quickly becomes a bit of a faff to move from one workspace to another just
to see if your plots are any good. Although you may not get exact copies by

[2019-11-05 10:14] mattnuttall00 opened #35 "Pushing selection of commits - GitKraken"
Hi all,

Apologies - this is quite a niche question, and seems like a silly one, but I can't find a solution online.

I use GitKraken for version control, and I have got myself into a situation where I can't push from my local repo (computer) to my remote repo (GitHub).  This is because I have been producing lots of large files over the last few days, and committing them as I go, and I foolishly f

[2019-11-05 13:24] jejoenje commented on #35
Hi Matt

I don't have much (any) experience using GitKraken so I'm not sure if I'd be of much help.
Have you tried pushing using the command line interface? It may give you some more informative error messages.

If all else fails, I'm not sure, but would it be possible to work around this by creating a series of new branches, and reverting each back (as per [here](https://www.atlassian.com/git/tut

[2019-11-06 10:17] bradduthie commented on #35
Hi Matt,

I am not sure how to do this with GitKraken, but you can definitely push commits one by one from the command line. Stackoverflow has a good answer [here](https://stackoverflow.com/questions/45155541/is-it-possible-in-git-to-push-commits-one-by-one-instead-of-all-of-them-at-once). Each commit has its own ID, which you can tell git to push specifically. For example, a repository of mine ha

[2019-11-06 10:24] mattnuttall00 commented on #35
Many thanks @jejoenje and @bradduthie!

I think the pushing each commit individually via the command line is what I need, as I definitely want to keep tracking those files.

I'll have a go myself, but I don't really use the command line so if it baffles me I may well swing by and beg some help

Cheers!

[2019-11-06 15:12] mattnuttall00 commented on #35
Hi all,

Just in case anyone else runs into this issue, the solution suggested by @bradduthie worked.  Details are:
- open the command line in GitKraken via file > open terminal
- Then in GitKraken, click on the individual commit in your commit graph/timeline
- Click on the commit code on the top right of the interface (see image below)

![image](https://user-images.githubusercontent.com/42806369/

[2019-11-06 15:16] bradduthie commented on #35
Quick -- edit, should be `<name of the remote to be pushed to>` instead of the repository name. You can find this by typing:

[code]

Usually this is `origin`, but you might have named it something different.

[2019-11-06 15:24] mattnuttall00 commented on #30
Hi @jejoenje , apologies I don't know what it going on here, but based on the coding club today, Thiago is probably the best person to ask!

[2019-11-07 16:06] mattnuttall00 commented on #34
@SamPaplauskas I just stumbled across the function for exporting a plot into MS Office whereby the elements of the plot are editable as a plot made in Excel would be.  The package is `export` and the function is `graph2ppt`, `graph2doc` etc...

[2019-11-28 09:10] mattnuttall00 opened #36 "R Packages gone wonky"
Hi all,

Yesterday I tried to install a new package, and was confronted with the option:

`Do you want to install from sources the packages which need compilation? y/n`

I didn't really know what that meant, so I said yes (I now realise that was the incorrect option to choose...).  The package appeared to install, but then at the end of some unusual white script (which I was not familiar with when

[2019-11-28 09:49] jejoenje commented on #36
Woohoo! Welcome to dependency hell!

Good grief! That is quite a mess indeed! What package was it that you originally tried to install? It certainly doesn't seem to play nice with much other stuff... Did it come from CRAN??

Installing from "sources" just means that you are compiling raw code, as opposed to something that was already compiled for your system (Linux, Windows, Mac, whatever you're r

[2019-11-28 10:07] mattnuttall00 commented on #36
Grrr, how annoying!   I can't even remember what the package was, as it's not in my library as it didn't install properly.  But it was off GitHib, not CRAN.

I'm on R vers 3.4.0, and I see that the latest version is 3.6.1.  Perhaps the simplest thing to do would be to uninstall R and reinstall, and then as you say, just install packages as I go along.

Best way to uninstall R?  Do I just run the u

[2019-11-28 10:15] jejoenje commented on #36
Issue with packages off Github (or other sources) is that obvs they haven't gone through all the stringent checks that CRAN imposes. Which are partly to do with exactly these sorts of potential issues...

Yea if you are due an upgrade anyway, I would probably do that. It's not as bad as it sounds. You might as well do RStudio at the same time, too, if you need to.

It's been a while since I have d

[2019-11-28 10:24] mattnuttall00 commented on #36
OK perfect, I will just do that.  It sounds cleaner that trying to faff around with different bits of tidyverse.  I could probably use the upgrade anyway!

Thanks @jejoenje !

[2020-01-27 15:27] mattnuttall00 opened #37 "Replacing values in one DF with values from another DF by matching"
Hi all,

What I am trying to do is quite simple, and I thought I knew how to do it, but it's not working...!

I have two dataframes.  Below are reproducible dataframes which demonstrate the example:

`df1 <- data.frame(year = rep(c(2007,2008,2009,2010,2011), each=2),
                              comm_name = c("a","b",NA,"d","e",NA,"g","h",NA,"j"),
                              code_com = c(1:10))

[2020-01-27 15:52] jejoenje commented on #37
Hi Matt,

I think this does want you want it to do?

[code]

Basically, `match()` returns indexes where it found a match between vector A and B, so you need to use the output of that function as an "indexer" for where you want to place the values.
It's a bit odd to get your head around, but have a look at what the output of `match(df1$code_com, df2$comCode)` is.

Hope that helps...

J

[2020-01-27 16:09] mattnuttall00 commented on #37
Thanks @jejoenje.  Am I correct in thinking though that
`df1$comm_name = df2$comm_name[match(df1$code_com, df2$comCode)]`
replaces **all** of the `df1$comm_name` values with the values from `df2$comm_name`?  How would I then specify that I only wanted it do do that when `df1$comm_name` values are `NA`?

[2020-01-27 16:20] jejoenje commented on #37
Ah, yes, it does indeed replace all of them. In the example case, though, that doesn't matter, as your "index" (i.e. `df2`) has all the necessary values. I assume that for your "real" case, that isn't the case (perhaps only the missing cases)?

The only way I could think of doing this in that case, would be to effectively subset `df1` into two, one where `df1$comm_Name == NA`, and one where `df1$c

[2020-01-27 17:16] anna-deasey commented on #37
I think using a combination of left_join() and coalesce() would do what you want - you get two versions of the col 'comm_name' with the join, then coalesce (merge them together) to get a new col with NA's replaced, and then delete the extra cols you don't need. It didn't work with factors though. Does that help?

df1$comm_name <- as.character(df1$comm_name)
df2$comm_name <- as.character(df2$comm_n

[2020-01-28 08:39] mattnuttall00 commented on #37
Hey @jejoenje and @anna-deasey - both of those methods work.  Thanks very much!

[2020-03-16 16:16] mattnuttall00 opened #38 "Bootstrapping until certain values are reached"
Hi all,

I am trying to bootstrap (with replacement) from a dataframe, repeatedly until the column sums for each of the data columns reaches a predefined value.

My dataframe is small and pretty simple.  It looks like this:

![image](https://user-images.githubusercontent.com/42806369/76772893-89eeb080-6799-11ea-9c91-d9fe76a55c93.png)

with these dimensions:

![image](https://user-images.githubuser

[2020-03-17 10:42] mattnuttall00 commented on #38
UPDATE:

I **_think_** I have found the solution, using the code below:

[code]

The result is a DF that appears to have met the targets, i.e. all of the colSums are above the pre-defined thresholds.

Would you mind just clarifying that it's doing what I think it's doing, and that I haven't just randomly got the correct result!

Thanks

[2020-03-18 10:51] bradduthie commented on #38
Hi @mattnuttall00 -- Just to make sure I understand the problem, are you wanting to resample all five columns of data until each column of data fulfils the criteria of summing to some predetermined value? In other words, if it takes 10 resamples for column 1, 20 resamples for column 2, and 30 for column 3, then every column should be resampled 30 times?

I think that the way you've done it above i

[2020-03-18 16:01] mattnuttall00 commented on #38
Thanks @bradduthie for the response.

To clarify - I want to resample **rows** from the original dataframe, up until all of the colSums are greater than the pre-defined limit.  But I have run your code and I think it does that anyway - as `sample_n()` is resampling rows from the dataframe.  Am I correct here?

Thanks for the alternative code - it is much neater!

Just out of curiosity, any particu

[2020-03-18 16:08] bradduthie commented on #38
Hi @mattnuttall00 -- Yes, I think that `sample_n()` samples the entire row. This was a new one for me though, as I would typically use the base `sample()` function and pull the row with an index (e.g., `subseq <- df_dense[sampled_row,];`). Seems `sample_n()` works fine though.

There's no particular reason for preferring a `while` loop. Either that or `repeat` works totally fine, so it really just